#CHANGE_ME
SENDER_NAME=Test
#CHANGE_ME
SENDER_EMAIL=test@test.com

#CHANGE_ME
SMTP_USER=test@test.com
#CHANGE_ME
SMTP_PASSWORD=test
#CHANGE_ME
SMTP_HOST=test.com
#CHANGE_ME
SMTP_PORT=587

#CHANGE_ME, first admin 
ADMIN_NAME=test
#CHANGE_ME, first admin 
ADMIN_EMAIL=test@test.com
#CHANGE_ME, first admin 
ADMIN_PASSWORD=test

RABBIT_USER=rabbit
RABBIT_PASSWORD=rabbit
#CHANGE_ME if deploy with make run_xxx
RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_VHOST=email
RABBIT_QUEUE=test
RABBIT_QUEUE_DLX=testdlx
RABBIT_MAX_RETRIES=1

BUFFER_SIZE=20
BUFFER_QUANTITY=20

TIMEOUT=2

CACHE_BUCKET=attachment
CACHE_SHARDS=64
CACHE_LIFE_WINDOW=60
CACHE_CLEAN_WINDOW=5
CACHE_AVG_ENTRIES=10
CACHE_AVG_ENTRY_SIZE=1
CACHE_MAX_ENTRY_SIZE=3
CACHE_MAX_SIZE=1000
CACHE_STATICS=false
CACHE_VERBOSE=false

TEMPLATE_BUCKET=template
TEMPLATE_SHARDS=64
TEMPLATE_AVG_ENTRIES=10
TEMPLATE_AVG_ENTRY_SIZE=1
TEMPLATE_MAX_ENTRY_SIZE=2
TEMPLATE_MAX_SIZE=100
TEMPLATE_STATICS=false
TEMPLATE_VERBOSE=false

#CHANGE_ME if deploy with make run_xxx
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=miniominio
MINIO_SECURE=false
MINIO_TEMPLATE_BUCKET=template
MINIO_ATTACHMENT_BUCKET=attachment

MONGO_USER=mongo
MONGO_PASSWORD=mongo
#CHANGE_ME if deploy with make run_xxx
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_SECURE=false

SESSION_DURATION_MINUTES=5
